# dependencies
/node_modules
/.pnp
.pnp.js
cache/
.yarn/install-state.gz

# testing
/coverage
coverage.json
/test/outputs

# next.js
/.next/
/out/

# production
/src/context/*.json
/artifacts
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

.idea
